<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ArithmeticalDSS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>173</integer>
		</dict>
		<key>Continuous.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DGtal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>161</integer>
		</dict>
		<key>DGtalIO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>162</integer>
		</dict>
		<key>Experimental.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Nightly.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NightlyMemoryCheck.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>RUN_TESTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>_arithmetic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>_base.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>_geometry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>_graph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>_helpers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>_images.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>_io.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>_kernel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>_math.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>_shapes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>_topology.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>approximation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>206</integer>
		</dict>
		<key>benchmark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>convergents.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>207</integer>
		</dict>
		<key>convex-and-concave-parts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>174</integer>
		</dict>
		<key>ctopo-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>195</integer>
		</dict>
		<key>ctopo-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>196</integer>
		</dict>
		<key>demo-kernel-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>186</integer>
		</dict>
		<key>dgtalBoard2D-1-points.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>167</integer>
		</dict>
		<key>dgtalBoard2D-2-sets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>168</integer>
		</dict>
		<key>dgtalBoard2D-3-custom-classes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>169</integer>
		</dict>
		<key>dgtalBoard2D-3-custom-points.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>170</integer>
		</dict>
		<key>dgtalBoard2D-4-colormaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>171</integer>
		</dict>
		<key>dgtalBoard3D-1-points.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>219</integer>
		</dict>
		<key>dgtalBoard3D-2-ks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>220</integer>
		</dict>
		<key>dgtalBoard3D-6-clipping.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>221</integer>
		</dict>
		<key>display3DToOFF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>166</integer>
		</dict>
		<key>distancetransform2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>182</integer>
		</dict>
		<key>distclean.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>doc-Board.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>doc-all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>doc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>dox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>exampleConstImageAdapter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>163</integer>
		</dict>
		<key>exampleCurvature.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>180</integer>
		</dict>
		<key>exampleEuclideanShapesDecorator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>211</integer>
		</dict>
		<key>exampleFMM2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>183</integer>
		</dict>
		<key>exampleFrechetShortcut.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>175</integer>
		</dict>
		<key>exampleGeometricalDCA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>176</integer>
		</dict>
		<key>exampleGeometricalDSS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>177</integer>
		</dict>
		<key>exampleGridCurve2d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>178</integer>
		</dict>
		<key>exampleImageFactoryFromHDF5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>216</integer>
		</dict>
		<key>exampleIntegralInvariantCurvature2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>181</integer>
		</dict>
		<key>examplePreimage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>185</integer>
		</dict>
		<key>exampleTiledImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>217</integer>
		</dict>
		<key>exampleTiledImageFromImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>164</integer>
		</dict>
		<key>extract2DImagesFrom3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>165</integer>
		</dict>
		<key>fileGridCurveRanges.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>190</integer>
		</dict>
		<key>fraction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>208</integer>
		</dict>
		<key>freemanChainFromImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>191</integer>
		</dict>
		<key>generateSimplicityTables2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>197</integer>
		</dict>
		<key>generateSimplicityTables3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>198</integer>
		</dict>
		<key>graphTraversal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>212</integer>
		</dict>
		<key>greedy-dss-decomposition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>179</integer>
		</dict>
		<key>imageGridCurveEstimator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>192</integer>
		</dict>
		<key>imageSetDT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>193</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>kernelDomain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>187</integer>
		</dict>
		<key>khalimskySpaceScanner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>199</integer>
		</dict>
		<key>labelledMapBestParameters.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>188</integer>
		</dict>
		<key>logoDGtal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>172</integer>
		</dict>
		<key>lower-integer-convex-hull.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>209</integer>
		</dict>
		<key>package.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>pattern.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>210</integer>
		</dict>
		<key>polynomial-derivative.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>203</integer>
		</dict>
		<key>polynomial-read.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>204</integer>
		</dict>
		<key>polynomial2-derivative.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>205</integer>
		</dict>
		<key>range.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>189</integer>
		</dict>
		<key>raw2HDF5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>218</integer>
		</dict>
		<key>shapeGridCurveEstimator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>194</integer>
		</dict>
		<key>testAdjacency.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>106</integer>
		</dict>
		<key>testAngleLinearMinimizer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>testArcDrawing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>121</integer>
		</dict>
		<key>testBall3DSurface.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>153</integer>
		</dict>
		<key>testBasicBoolFunctions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>testBasicFunctors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>testBasicMathFunctions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>testBasicPointFunctors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>testBits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>testBoard2DCustomStyle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>122</integer>
		</dict>
		<key>testBreadthFirstPropagation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>98</integer>
		</dict>
		<key>testCellularGridSpaceND.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>107</integer>
		</dict>
		<key>testCheckImageConcept.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>136</integer>
		</dict>
		<key>testCirculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>testClock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>testCloneAndAliases.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>testColorMaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>125</integer>
		</dict>
		<key>testConstImageAdapter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>137</integer>
		</dict>
		<key>testConstIteratorAdapter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>testConstRangeAdapter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>testCountedPtr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>testDepthFirstPropagation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>99</integer>
		</dict>
		<key>testDigitalSet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>testDigitalShapesDecorator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>154</integer>
		</dict>
		<key>testDigitalSurface.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>108</integer>
		</dict>
		<key>testDigitalSurfaceBoostGraphInterface.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>100</integer>
		</dict>
		<key>testDigitalTopology.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>109</integer>
		</dict>
		<key>testDistancePropagation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>101</integer>
		</dict>
		<key>testDistanceTransformation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>testDistanceTransformationMetrics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>testDistanceTransformationND.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>testDomainSpanIterator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>testEmbedder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>testEstimatorComparator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>testEuclideanShapesDecorator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>155</integer>
		</dict>
		<key>testExpander-benchmark-benchmark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>104</integer>
		</dict>
		<key>testExpander-benchmark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>103</integer>
		</dict>
		<key>testExpander.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>102</integer>
		</dict>
		<key>testFMM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>testFrechetShortcut.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>testGaussDigitizer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>156</integer>
		</dict>
		<key>testGenericReader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>126</integer>
		</dict>
		<key>testGenericWriter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>133</integer>
		</dict>
		<key>testHDF5Reader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>213</integer>
		</dict>
		<key>testHalfPlane.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>157</integer>
		</dict>
		<key>testHashTree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>138</integer>
		</dict>
		<key>testHyperRectDomain-snippet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>testHyperRectDomain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>testImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>139</integer>
		</dict>
		<key>testImageAdapter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>140</integer>
		</dict>
		<key>testImageCache.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>141</integer>
		</dict>
		<key>testImageContainerBenchmark-benchmark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>143</integer>
		</dict>
		<key>testImageContainerBenchmark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>142</integer>
		</dict>
		<key>testImageContainerByHashTree-benchmark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>145</integer>
		</dict>
		<key>testImageContainerByHashTree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>144</integer>
		</dict>
		<key>testImageFactoryFromHDF5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>214</integer>
		</dict>
		<key>testImageSimple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>146</integer>
		</dict>
		<key>testImageSpanIterators.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>147</integer>
		</dict>
		<key>testImagesSetsUtilities.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>testImplicitDigitalSurface-benchmark-benchmark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>111</integer>
		</dict>
		<key>testImplicitDigitalSurface-benchmark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>110</integer>
		</dict>
		<key>testImplicitFunctionModels.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>158</integer>
		</dict>
		<key>testImplicitShape.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>151</integer>
		</dict>
		<key>testIndexedListWithBlocks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>testInteger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>testIntegralInvariantCurvatureEstimator2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>testIntegralInvariantGaussianCurvatureEstimator3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>testIntegralInvariantMeanCurvatureEstimator3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>testIteratorCirculatorTraits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>testIteratorFunctions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>testKanungo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>testLabelledMap-benchmark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>testLabelledMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>testLabels.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>testLengthEstimators.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>testLightImplicitDigitalSurface-benchmark-benchmark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>113</integer>
		</dict>
		<key>testLightImplicitDigitalSurface-benchmark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>112</integer>
		</dict>
		<key>testLinearAlgebra.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>testLocalEstimatorFromFunctorAdapter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>testLongvol.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>123</integer>
		</dict>
		<key>testMPolynomial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>testMPolynomialReader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>127</integer>
		</dict>
		<key>testMeasure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>testMeasureSet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>testMesh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>159</integer>
		</dict>
		<key>testMeshReader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>128</integer>
		</dict>
		<key>testMeshWriter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>134</integer>
		</dict>
		<key>testMetricBalls.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>testMetrics-benchmark-benchmark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>testMetrics-benchmark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>testMetrics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>testModuloComputer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>testMorton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>148</integer>
		</dict>
		<key>testMostCenteredMSEstimator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>testMultiMap-benchmark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>testNormalVectorEstimatorEmbedder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>testObject-benchmark-benchmark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>116</integer>
		</dict>
		<key>testObject-benchmark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>115</integer>
		</dict>
		<key>testObject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>114</integer>
		</dict>
		<key>testObjectBorder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>117</integer>
		</dict>
		<key>testOpenMP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>testOrderedAlphabet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>testOutputIteratorAdapter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>testOwningOrAliasingPtr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>testPNMRawWriter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>135</integer>
		</dict>
		<key>testPNMReader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>129</integer>
		</dict>
		<key>testParametricShape.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>152</integer>
		</dict>
		<key>testPattern.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>testPointListReader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>130</integer>
		</dict>
		<key>testPointVector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>testPointVectorContainers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>testPowerMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>testPreimage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>testProgressBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>testRawReader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>131</integer>
		</dict>
		<key>testReducedMedialAxis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>testReverseDT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
		<key>testSCellsFunctor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>118</integer>
		</dict>
		<key>testSTLMapToVertexMapAdapter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>105</integer>
		</dict>
		<key>testSegmentComputerEstimators.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>testSeparableMetricAdapter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>testShapesFromPoints.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>160</integer>
		</dict>
		<key>testSignal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>testSimpleBoard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>124</integer>
		</dict>
		<key>testSimpleExpander.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>119</integer>
		</dict>
		<key>testSimpleMatrix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>testSliceImageFromFunctor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>149</integer>
		</dict>
		<key>testSphericalAccumulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
		<key>testStatistics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>testTiledImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>215</integer>
		</dict>
		<key>testTiledImageFromImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>150</integer>
		</dict>
		<key>testTrace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>testTrueLocalEstimator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>testUmbrellaComputer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>120</integer>
		</dict>
		<key>testVolReader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>132</integer>
		</dict>
		<key>testVoronoiMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>testcpp11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>trackImplicitPolynomialSurfaceToOFF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>200</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>volMarchingCubes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>201</integer>
		</dict>
		<key>volToOFF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>202</integer>
		</dict>
		<key>voronoimap2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>184</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0024E951F7594DEE81718FDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>002A979BC9634F06B2B334FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>032E43184ECE4432B75ED3A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>033D8207885C4B538E366334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F0C92E5B694FCFA1764F1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>051100C8670A48E6BC6CD1CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07991442ECEE417396CC4748</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07E5B9C013754BE8A1D6CA46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08F510AE836A42C28C602D0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09B148302B1643A39C7BA83D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E64C9204DFD4720BCD604A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F7CDD61E5E04E9EA95314E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FA37FBBAB984A33A823BAF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10E49708C6F346CE9E79D60A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119CC5AF79AD43809F1DC333</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14D3B6E7DEBA4446AD3B0B3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>158AED6FF8EA4526861EAF92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15D6F2F9F4C540018233F2D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>167F440A3168495CB4909BC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16EC13622B6C463D8C964F02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19020D061A404F36B2EA6BF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>195C5C3F4E9549B29A4229D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19FEE8FC060344AD929F1F43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BAE117F34DF4BFF84F48F16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BFC49A4F7354DF38F7F8C62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD0E8A482D343969EBB003F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CD483A5593140C38C051E28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D65FD020DB340E197643BD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E5C9F346A1F46FD91F46E74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20C4D75DB8C14999B204F913</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21DD70112C12469194F23A04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2400F6069ABE46DDB740B96B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24251F40993747D393406FA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2508060D908D4A65A7C2015D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>257784C000094678B73CA12C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26A15A4F9A5C43F381854995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>278D0065E9E64B8FB828732A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29B27A18FAE64DFAB62BD565</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AC2831F279244CD8C9C1C17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ACF1E0795E74972ACD0F0BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3199F4F7A5CD404792D6BEEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33C3967E99ED467184F6470F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33C6DC59CC544CA89996A1DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35BCA0E75AE44F6C81FC9822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>391ED6F8694F49338AD27F0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39407D13F2324495A3F290A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A31D8AEDACB4DA8AE60DC94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A39105EBB9647989E52C6A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ADACD773B0C4862A9CADA69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BD5ECEFB57A48C9AA1DADCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C49AA0C4E884BB9AB127E02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D9B64FE92514F059BE111EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F78FE654B1D4EE9A2007798</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FE48452B16F47ADAE24C77E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>406DE3BDBDC241C38398B8A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40DD1656DD9B40EB9BA347B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>419598B89AB34C2CA2E9EF69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41F1605E92DF48428B5B64F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>431B9435FED949EEBD21D870</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>434ACCDE6FC54DA6839937AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4586EC4330804ECE949A5DD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46656B1AF0674506A2B50525</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46B1A9F38F724F45BBEEEC21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4876A32B0C9E42E78D249545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49E947FCC02E49259CF80B38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A5C1A25F2A649858C710CDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE65D0F5042438BA594CBB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DBB7FB25B7E4970B6EC679C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E5D4D89FEC841959FB4C5B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F46143AE8A44F1592E6131F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F7E6402B79943FDA4D95902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FB4BC43EB894E4F9FBF6AB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>502342E4C93745F8982BD129</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5116478655954CCBA55C15D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51B169DC8A544041BA83D6F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>527B9247582144BEB066D687</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53F05E4B69F149E49D1D49A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>542BBA0377C6426B9E1DF71D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>553132E1F7B64D85B3BBA420</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>563C7C1A9E3740DC893C3769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57EC2F3FC36D4E39AA22BB67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57F79AD5C93B4A219EDC6037</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58E08D56D6AC481AABD327B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59F5E9A7C07A448FBA0711AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AA633387CDC42EF892F05EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BD74BA6BF87452AB6A3F94A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BDCD598378B4C29B4C43767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E23FF82209F444EAE0A2232</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60482339E0EE4B979E8E906E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61DA2359D5FC44B8A2DB40F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>620C8F6595274CB7828DFFA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>644AFA5DF2D7483FBF4F3EE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>651B3026909F4AA491B341E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65B0FF1F038D4BB79D22A28B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>661BA49361B04AF384C049C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>664AC44424AC4426B1D81BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6683DF58AF624CC193870D27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66BD929C77EA4A7F82B1AF55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66F241B3AC9448DC9D391D7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67A14811494F4FD6A8820002</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6869CF1C891F4C19BD0DF19C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68B3906C632144C7BEDAA6B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A0FE09E92BF414B9B101466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B32E6CB1A4744809D8D056C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B8D9C1F2AF34B8B99C85476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C8A7B4EF1354B958D252070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DAFE6A90B1B4D2B9CD63939</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FB9E6E547264687B0FD2697</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7103B64717F40EA600025E22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71EA8DEB3D1D4490BBF0956D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72BF8FCED0654C7C97DB93E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74C58973A032466B8BA0D869</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>756DFBC6A5004CADA56F648B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77D00591283B41A98CFC6A35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7907E71BBD334C06A5BE3D6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A5D27BCD1784EA89C83331A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B3780FA26BD4FD89F6DCA9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B529E1234F94448AC5D6834</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C8CB8788A4A4A27AC8F4690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C98F97F6686415AA5274654</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D03B17428EF42F1AE58DC98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DBC6E3734274D2AA2A057CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DD78528F2104B898DDBC77F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EFAB87912ED4F9390BDD023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F3C606EBAFA46A8AE06060D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>807FF9F01EF04A5AA9B56CB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83E90EE478AE4879AB236C52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8500244BD24B4A4C9B88A404</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85109B065C08483DAD727CDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85315AB499A745CF96050D44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87257EF2E3964601A09C23C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>882CE9EC981A4493941973FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88B31626A1604C95928DB14F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BE23129C174401A8CA3B401</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E331B9E278642EDAD7592A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EE08390D31A4D61B9A72F88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F07DA7DCDF34A759AD5AE35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9029D7685C1F464CA2F0859C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>907CAA11884F477D93809F7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92CD810C97144E06B83DCBC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>946938AD9A724531B8BC2C42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94DA2FB39D7744FC9EEB00C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95598A022B27416489B84C5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99568F6BAADF40348ED90F4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99694CBFD1E04A5B8CEA897B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CF85FFC43CC40B59E033ABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EF1D2C25D114A3F83CCCC3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F8C77E4AB9E45268AFE23B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FF2349D824742C883B4D092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0F0FDAF45EE4C3EAC1E5BE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A123B32CA6444F1584A8E4B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2E3FF70DD4C49DF92B70CE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A415350764BE440984061456</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4E5B03DD6D54D29940E0F05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A50E671CD56C41B6AEF35593</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A55EBED284CC4A50B7872A99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6FAF9ECC32F4685B7F5BB78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A86BC6F4D09D4A618C5468AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8F0C69BDBBD4E92AF805F61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9EB6689F14C403C96853906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAB0A668102A4B1394C505CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB747633F47F441C8E9F3C77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB92BBF1F631439CA7C3B085</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABBDE9BA57114CF48E684D1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABDE6F7B5D3744FB84D5649B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC7F9F6AA7114E68B1E0F583</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACF9E6369B4F44DFB7A97D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE4A296524EE49D4A35B73B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEE0717DEB2E49A491996539</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B064D12D4D7B4B94A2E7500C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B20123F113E243C88C8D437B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B20B35652E4A4F6F80CA09FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3F197E6867E44E3B0BE6FF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4D08C39428D4D7685896D8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8407304786A4B55B0507A5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA7CBA16516A4C76AC4528EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBB9482CD2454FB79362548B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD79E253C9AF4EFF967492B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD972E1215B048ED83121DA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF31952CA1D44E0AB5AF3BAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C18716760A694930A4D27195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1A4DF5432964F1D886E6043</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C32D911311404F4892B5858A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4ADE11922C14000B181BAC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4DE863DBDD94A77823A0CBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C57EA697E2C3453EB70511BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6B84FF6A7DD4FAEA70197F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6F90A8492874E44980C6EFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7427018ED984E0DB395F373</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7C7E3923DB84384BFE7E343</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C87F7224837A4E2E8856F731</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8C3B59114284A2CB7251717</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD2076F58450456394A443DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD219FAF07BA449DB49064CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD9149A81C914087A41D163F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDF9ED0F353E4225B75213EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE22F710F902471492AB1B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0D1E814F78647C99C070B52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D28155DB05A5451F92A32CF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D360889B748E49389FA2501F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D579F89C4F3344FAAB7A39E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D62AC968869140589AAC2370</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6DC557A81714227AD58028B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8134D1A001F4483BD3EA04C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D90422EFCC8F46A2AC6EBCFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBF0E198125441028E97E609</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE05E838C3AD48CDBF99BBF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFF683FF6E814A08A2D1CA23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E314050B88F44409BFF2EF2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8B130AAB3E240D19AE60774</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8DEDFA0E41442A3B2CC776B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA4DC6A6831E463B80FCAE7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE2C1F24C54849318E0FABE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F12DD7BCC79346CE88AFD99B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2A3F9D1DB754BE795AA4A92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2F055600E4D4F5C993AB66A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5117B85F98044AEBC7A1131</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAC65A1B1D3145B997A42A56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAD4AE609A0D41BC90CFEE40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB192B7A8AAD46FF85A5F6D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDE9D6A523BB4EA8A30823D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEBBC56EE6544585843FA417</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF585AD88E584A90BECEEF29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
