<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>Apple LLVM version 4.2 (clang-425.0.28) (based on LLVM 3.2svn)</string>
 <key>files</key>
 <array>
  <string>/Users/davidcoeurjolly/Sources/DGtal/src/DGtal/images/ImageFactoryFromHDF5.h</string>
  <string>/Users/davidcoeurjolly/Sources/DGtal/examples/images/exampleImageFactoryFromHDF5.cpp</string>
 </array>
 <key>diagnostics</key>
 <array>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>243</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>243</integer>
         <key>col</key><integer>17</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>243</integer>
         <key>col</key><integer>38</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;t_class&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;t_class&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;t_class&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
  <key>issue_hash</key><integer>15</integer>
  <key>location</key>
  <dict>
   <key>line</key><integer>243</integer>
   <key>col</key><integer>7</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>247</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>247</integer>
         <key>col</key><integer>15</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>247</integer>
         <key>col</key><integer>36</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;order&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;order&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;order&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
  <key>issue_hash</key><integer>19</integer>
  <key>location</key>
  <dict>
   <key>line</key><integer>247</integer>
   <key>col</key><integer>7</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>251</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>251</integer>
         <key>col</key><integer>15</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>251</integer>
         <key>col</key><integer>35</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;size&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;size&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;size&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
  <key>issue_hash</key><integer>23</integer>
  <key>location</key>
  <dict>
   <key>line</key><integer>251</integer>
   <key>col</key><integer>7</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>255</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>255</integer>
         <key>col</key><integer>14</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>255</integer>
         <key>col</key><integer>50</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;rank&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;rank&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;rank&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
  <key>issue_hash</key><integer>27</integer>
  <key>location</key>
  <dict>
   <key>line</key><integer>255</integer>
   <key>col</key><integer>7</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>256</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>256</integer>
         <key>col</key><integer>18</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>256</integer>
         <key>col</key><integer>69</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;status_n&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;status_n&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;status_n&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
  <key>issue_hash</key><integer>28</integer>
  <key>location</key>
  <dict>
   <key>line</key><integer>256</integer>
   <key>col</key><integer>7</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>371</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>371</integer>
         <key>col</key><integer>16</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>371</integer>
         <key>col</key><integer>88</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;status&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;status&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;status&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
  <key>issue_context_kind</key><string>C++ method</string>
  <key>issue_context</key><string>requestImage</string>
  <key>issue_hash</key><integer>38</integer>
  <key>location</key>
  <dict>
   <key>line</key><integer>371</integer>
   <key>col</key><integer>7</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>383</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>383</integer>
         <key>col</key><integer>16</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>383</integer>
         <key>col</key><integer>95</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;status&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;status&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;status&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
  <key>issue_context_kind</key><string>C++ method</string>
  <key>issue_context</key><string>requestImage</string>
  <key>issue_hash</key><integer>50</integer>
  <key>location</key>
  <dict>
   <key>line</key><integer>383</integer>
   <key>col</key><integer>7</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>387</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>387</integer>
         <key>col</key><integer>16</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>387</integer>
         <key>col</key><integer>83</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;status&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;status&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;status&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
  <key>issue_context_kind</key><string>C++ method</string>
  <key>issue_context</key><string>requestImage</string>
  <key>issue_hash</key><integer>54</integer>
  <key>location</key>
  <dict>
   <key>line</key><integer>387</integer>
   <key>col</key><integer>7</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>466</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>466</integer>
         <key>col</key><integer>16</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>466</integer>
         <key>col</key><integer>88</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;status&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;status&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;status&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
  <key>issue_context_kind</key><string>C++ method</string>
  <key>issue_context</key><string>flushImage</string>
  <key>issue_hash</key><integer>38</integer>
  <key>location</key>
  <dict>
   <key>line</key><integer>466</integer>
   <key>col</key><integer>7</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>478</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>478</integer>
         <key>col</key><integer>16</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>478</integer>
         <key>col</key><integer>93</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;status&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;status&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;status&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
  <key>issue_context_kind</key><string>C++ method</string>
  <key>issue_context</key><string>flushImage</string>
  <key>issue_hash</key><integer>50</integer>
  <key>location</key>
  <dict>
   <key>line</key><integer>478</integer>
   <key>col</key><integer>7</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>504</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>504</integer>
         <key>col</key><integer>16</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>504</integer>
         <key>col</key><integer>83</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;status&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;status&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;status&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
  <key>issue_context_kind</key><string>C++ method</string>
  <key>issue_context</key><string>flushImage</string>
  <key>issue_hash</key><integer>76</integer>
  <key>location</key>
  <dict>
   <key>line</key><integer>504</integer>
   <key>col</key><integer>7</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>98</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>1</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>98</integer>
         <key>col</key><integer>16</integer>
         <key>file</key><integer>1</integer>
        </dict>
        <dict>
         <key>line</key><integer>98</integer>
         <key>col</key><integer>51</integer>
         <key>file</key><integer>1</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;status&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;status&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;status&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>writeHDF5_3D_TILED</string>
  <key>issue_hash</key><integer>41</integer>
  <key>location</key>
  <dict>
   <key>line</key><integer>98</integer>
   <key>col</key><integer>7</integer>
   <key>file</key><integer>1</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>108</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>1</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>108</integer>
         <key>col</key><integer>16</integer>
         <key>file</key><integer>1</integer>
        </dict>
        <dict>
         <key>line</key><integer>108</integer>
         <key>col</key><integer>87</integer>
         <key>file</key><integer>1</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;status&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;status&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;status&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>writeHDF5_3D_TILED</string>
  <key>issue_hash</key><integer>51</integer>
  <key>location</key>
  <dict>
   <key>line</key><integer>108</integer>
   <key>col</key><integer>7</integer>
   <key>file</key><integer>1</integer>
  </dict>
  </dict>
 </array>
</dict>
</plist>