/**
* @file   Requirements.h
* @author Anis Benyoub <Anis Benyoub <anis.benyoub@insa-lyon.fr>>
* @date   17 Jul. 2012
* @brief  Configuration header for viewerOgre3D. 
*
**/

#include <string>

///Path to the DGtal test suite.
const std::string requirementPath= "@PROJECT_SOURCE_DIR@/../Requirements/";

